body{
    font-family: Arial, Helvetica, sans-serif;
}

div{
    background-color: rgb(108, 177, 39);
    width: 450px;
    height: 180px;
    padding: 20px;
     
    border-radius: 10px;
    position: absolute;
    top: 220px;
    left: 450px;
}

h1{
    display: inline;
    margin-right: 230px; 
}


input{
    display: block;
    width: 100%;
    margin-bottom: 10px;

    box-sizing: border-box;
}

p{
    font-size: 20px;
}

button{
    width: 100%;
}

a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: black;
}