body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;

}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

   img{
       height: 733px;
   }

   div{
    background-color: rgba(0, 0, 0, 0.822);
    position: absolute;
    top: 220px;
    left: 250px;
    
    border-radius: 10px;
    width: 500px;
    height:215px;
    padding: 20px;
    
   }

 h1{
    margin: 0;    
    margin-right: 265px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: rgb(253, 90 ,81);
    display: inline;
 }

.x{ 
    
    font-weight: bold;
    font-size: 24px;
    display: inline;
    margin-left: 30px;
    text-decoration: none;
}

p{  
    color: rgb(253, 90 ,81);
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:white; 
}

input {
    width: 100%;
    margin-bottom: 10px;

}


button{
    
    border:none;
    border-radius: 10px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 16px;
    text-align: center;
    width: 100%;
    margin-top: 12px;
    background-color: rgb(253, 90 ,81)
    
     
}

   button:hover{
                background-color: rgb(81, 253, 110);
                color: white;
   }
       

a{ 
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 12px;
    text-align: center;
    width: 100%;
    background-color: rgb(253, 90 ,81)
    
}

a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(71, 187, 240);
}

.cor-de-fundo{
    display: flex;

    justify-content: center;
    position: absolute;
    border-radius: 20px;
   
    width: 400px;
    height: 145px;
   
    bottom: -170px;
    right: 650px;
    background-color: rgba(26, 24, 24, 0.397);
     
}

footer{
     
     padding: 30px;
        
     display: flex;
     align-items: center;
     justify-content: center;
}

footer p{

       font-family: Arial, Helvetica, sans-serif;
       color: rgb(54, 54, 54);
       font-size: 15px;
       padding-left: 3px;
       padding-right: 6px;
}

footer img{
    height: 92px;
    border-radius: 50px;
    border: 3px solid rgba(32, 32, 32, 0.555);
}

.perfil{
        height: 80px;
        width: 25px;
        padding-right: 30px;
        padding-left: 1px;
        padding-top: 0px;
        border-radius: 50px;
        background: none;
}

.perfil:hover{
       background: none;
       
}
